<footer class="footer">
    <small>
        <a href="http://railstutorial.org/">Rails Tutorial</a>
        by Michael Hartl
    </small>
    <nav>
        <ul>
            <li><%= link_to "PhotoAppについて", '#' %></li>
            <li><%= link_to "お問い合わせ", '#' %></li>
            <li><a href="http://news.railstutorial.org/">お知らせ</a></li>
        </ul>
    </nav>
</footer>